@import url(assets/styles/style.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans", sans-serif;
}


html {
  scroll-behavior: smooth;
}



