@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: normal;
  src: url("../fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  src: url("../fonts/NotoSans-Medium.ttf");
}

