.banner {


  &__contents {
    margin-left: 50px;
    padding-top: 200px;
    width: 50rem;
    color: #F5F5F4;
    z-index: 200000000;
  }

  &__title {
  }

  &__information {
    width: 100%;
    font-weight: 700;
  }

  &__description {
    width: 100%;
    line-height: 1.5;
    height: 70px;
    max-width: 600px;
    font-weight: 700;
  }

  &__fadeBottom {
    position: absolute;
    left: 0;
    width: 100%;
    top: 85%;
    height: 15%;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #202020);
  }

  &__fadeRight {
    position: absolute;
    left: 95%;
    width: 5%;
    top: 0;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, rgba(37, 37, 37, 0.4), #202020);
  }

  &__fadeLeft {
    position: absolute;
    left: 0;
    width: 3%;
    top: 0;
    height: 100%;
    background-image: linear-gradient(
                    270deg,
                    transparent,
                    rgba(32, 32, 32, 0.3), #202020
    );
  }

  &__fadeTop {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 25%;
    background-image: linear-gradient(360deg, transparent, rgba(32, 32, 32, 0.7), #202020);
  }

  &__button {
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 2rem;
  }
}
